.card {
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.card img {
  transition: transform 0.1s;
  border-bottom: 1px #127fff solid;
}

.card:hover img {
  transform: scale(1);
}

@keyframes slideIcon {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
}

.slide-icon {
  animation: slideIcon 3s linear infinite alternate;
}

.animation-star-wars {
  animation: shineStarWars 2s infinite;
}

@keyframes shineStarWars {
  0% {
    text-shadow: none;
  }
  50% {
    text-shadow: 0 0 10px orange;
  }
  100% {
    text-shadow: none;
  }
}
.animation-marvel {
  animation: shineMarvel 2s infinite;
}
.animation-ring {
  animation: shineRing 2s infinite;
}

@keyframes shineMarvel {
  0% {
    text-shadow: none;
  }
  50% {
    text-shadow: 0 0 10px red;
  }
  100% {
    text-shadow: none;
  }
}
@keyframes shineRing {
  0% {
    text-shadow: none;
  }
  50% {
    text-shadow: 0 0 10px lime;
  }
  100% {
    text-shadow: none;
  }
}
