@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  font-family: "Roboto", sans-serif;
}

.gradient-text {
  background-image: linear-gradient(to right, #2563eb, #ff9900);
  background-clip: text;
  color: transparent;
}
.gradient-text-top {
  background-image: linear-gradient(to bottom, #c04277, #fff);
  background-clip: text;
  color: transparent;
}
.gradient-star-wars {
  background-image: linear-gradient(to right, #2563eb, aqua);
  background-clip: text;
  color: transparent;
}
.gradient-marvel {
  background-image: linear-gradient(to right, red, white);
  background-clip: text;
  color: transparent;
}
.gradient-ring {
  background-image: linear-gradient(to right, green, white);
  background-clip: text;
  color: transparent;
}

.allign {
  margin: 0 auto;
}

.border-thin {
  border: 1px solid #adb5bd;
}
.card:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.background-bt-gradient {
  background: linear-gradient(to right, #ff8c00, #ff4500);
}
