@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  font-family: "Roboto", sans-serif;
}

.gradient-text {
  background-image: linear-gradient(to right, #2563eb, #ff9900);
  background-clip: text;
  color: transparent;
}
.gradient-text-top {
  background-image: linear-gradient(to bottom, #c04277, #fff);
  background-clip: text;
  color: transparent;
}
.gradient-star-wars {
  background-image: linear-gradient(to right, #2563eb, aqua);
  background-clip: text;
  color: transparent;
}
.gradient-marvel {
  background-image: linear-gradient(to right, red, white);
  background-clip: text;
  color: transparent;
}
.gradient-ring {
  background-image: linear-gradient(to right, green, white);
  background-clip: text;
  color: transparent;
}

.allign {
  margin: 0 auto;
}

.border-thin {
  border: 1px solid #adb5bd;
}
.card:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.background-bt-gradient {
  background: linear-gradient(to right, #ff8c00, #ff4500);
}

.shadow-gif {
  border: 1.5px solid white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.textarea-mail {
  resize: none;
  width: 90%;
  height: 250px;

  margin-top: 10px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 5px;
  background-color: #e9ecef;
}
.slide-allign {
  width: 100%;
  max-width: 800px;
  height: 384px;
  object-fit: cover;
}
